@mixin display {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	box-sizing: border-box;
	overflow: hidden;
}
body {
	margin: 0;
	padding: 0;
}
ul {
		margin: 0;
		padding: 0;
	}
.price-header, .price-info {
	background-color: #1A92F7;
}
.price-title {
	width: 100%;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	background-color: #1A92F7;
	border: 1px solid #1A92F7;
}
.price-container, .price-cell, .price-string, .price-table, .table-head, .table-head-cell, .price-info, .table-first-row {
	@include display;
}
.price-container {
	margin: 0;
	padding: 0;
	background-color: #fff;
	width: 100%;
	overflow: hidden;
}
.price-table {
	width: 70%;
	border: 1px solid #158DE4;
}
.table-head {
	background-color: #158DE4;
	width: 100%;
}
.table-head-cell {
	width: 25%;
	min-height: 50px;
	color: #fff;
	text-align: center;
}
.price-string {
	width: 100%;
	:first-child {
		justify-content: left;
	}
	:last-child {
		border-right: none;
	}
}
.table-first-row {
	width: 25%;
	text-align: left;
	color: grey;
	h4 {
		color: #000;
	}
}
.price-cell, .table-first-row {
	width: 24%;
	border-bottom: 1px solid #ACD9EB;
	border-right: 1px solid #ACD9EB;
	align-items: center;
    line-height: 1.5rem;
    padding-bottom: 15px;
    li {
		list-style-type: none;
    }
}
.price-cell {
	text-align: center;
	color: #000;
    li:last-child {
			color: grey;
		}
}
.add_nights {
	@extend .price-cell;
	li:first-child {
			color: grey;
	}
	li:last-child {
		color: #000;
	}
}
.price-info {
	display: table;
	font-size: 1.2rem;
	padding: 0 30% 0 30%;
}
@media screen and(max-width: 800px){
	.price-table {
	width: 100%;
	border: none;
	}
}
