@keyframes anim {
    0% {opacity: 0; height: 0;}
    100% {opacity: .85; height: auto;}
}
$scroll: #1A92F7;
body {
	font-family: 'PT Sans Caption', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: white;
	background-color: #000;
	margin: 0;
	text-transform: uppercase;
	box-sizing: border-box;
	overflow: auto;
	overflow-x: hidden;
}
h1 {
	font-size: 36px;
	font-weight: 400;
}
h2 {
	font-size: 26px;
	font-weight: 400;
}
img {
	width: 100%;
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: #fff;
}
a:hover {
	color: #d6d6d6;
}
/* Header */
.parallax {
	background-attachment: fixed;

}
.main {
	background-image: url(images/home.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
}
.nav-container {
	display: inline-flex;
	width: 100%;
	position: relative;
	.nav-menu {
		width: 50%;
	    display: flex;
	    justify-content: space-around;
	    margin-top: 1.7rem;
	}
	.nav-menu ul li {
		display: inline-flex;
	    flex-direction: row;
	    margin-left: 20px;
	    background-color: #158DE4;
	    a {
	    	padding: 1px 3px;
	    	border-radius: 5px;
	    }
	}
	.nav-menu ul li:hover {
		cursor: pointer;
	}
}
.nav-container.top-scroll {
		position: fixed;
		background-color: $scroll;
		top: 0;
		z-index: 9999;
		.nav-menu {
			margin: 20px;
			ul li {
				background-color: $scroll;
			}
		}
	}
.bar {
	position: absolute;
	top: 10px;
	left: 15px;
	display: none;
}

.nav-empty-box {
	width: 50%;
}
.subtitle {
	width: 100%;
	text-align: center;
	padding-top: 150px;
}
.button-box {
	width: 100%;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.book-button {
	width: 200px;
	height: 50px;
	border-radius: 4px;
	background-color: #fbca02;
	opacity: .85;
	display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    box-shadow: 0px 0px 15px #000
}
.book-button:hover {
	width: 210px;
	height: 55px;
	background-color: #F01E;
    font-size: 22px;
    cursor: pointer;
}
.calendar {
	width: 250px;
	height: 30px;
	background-color: #fff798;
	opacity: .9;
	color: #000;
	border-radius: 10px;
    text-align: left;
    padding: 0px 10px;
    line-height: 2rem;
    display: none;
}
.book-button-small {
	width: 50px;
	height: 30px;
	margin-left: 15px;
	border-radius: 4px;
	background-color: #fbca02;
	opacity: .85;
	display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.book-button-small:hover {
	width: 55px;
	background-color: #F01E;
	cursor: pointer;
}
/* Main part*/
.info-string {
	font-size: 20px;
	text-align: center;
	min-height: 100px;
	overflow: hidden;
}
.info-string1 {
	background-color: #9dad64;
}
.info-string2 {
	background-color: #acd3f4;
}
.info-string3 {
	background-color: #bdab8e;
}
.info-string p {
	padding: 15px 10px;
}
.photobox {
	display: flex;
	flex-flow: row wrap;

}
.photobox-item {
	display: flex;
	width: 33%;
	flex-flow: row wrap;
	overflow: hidden;
	max-height: 300px;
}
.photobox img {
	display: block;
	transition: 1.7s ease;
	-webkit-transition-delay: 0.5s;
	-moz-transition-delay: 0.5s;
	-ms-transition-delay: 0.5s;
	-o-transition-delay: 0.5s;
	transition-delay: 0.5s;
	
}
.photobox img:hover {
	transform: scale(1.4);
}
.about_us-container {
	background-image: url(images/bg2.jpg);
	text-align: center;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	height: auto;
	display: table;
}
.about_us-title {
	width: 100%;
	h2 {
		margin: 5rem;
	}
}
.about_us-title h1 {
	margin: 100px;
}
.about_us-content {
	display: flex;
	width: 100%;
	flex-flow: row wrap;
}
.about_us-content div {
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: space-around;
}
.image-host img {
	width: 90%;
	display: flex;
	justify-content: center;
}
.service-content {
	margin: 0;
    text-align: center;
    line-height: 2rem;
    font-size: 16px;
    width: 50%;
    background-color: #5483ac;
    opacity: 0.8;
    border-radius: 25px
}
.service-content p {
	width: 100%;
}
 #map {
        width: 100%;
        height: 500px;
      }

      /* Footer */
#footer {
	width: 100%;
	background-color: #3d6ca8;
}
.footer-part1 {
	border-bottom: 1px solid #32529d;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.column_x3 {
	display: flex;
    flex-flow: row wrap;
    text-align: center;
    width: 33%;
    min-height: 160px;
    line-height: 1.6rem;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
}
.footer-column1 {
	display: table;
}
.phonenumber {
	font-size: 16px;
}
.email {
	text-transform: lowercase;
}
.footer-column2 i {
	margin-left: 15px;
}
.footer-part2 {
	min-height: 40px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	font-family: sans-serif;
	font-size: 14px;
	margin-right: 10px;
	text-transform: none;
}

/* Media requires */
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
    .main {
    	max-height: 780px;
    }
    .nav-menu {
    width: 100%;
    }
    .subtitle h1 {
		margin: 0 20% 0 20%;
    }
}
@media screen and (max-width: 800px){
	.parallax {
        background-attachment: scroll;
    }
	.main {
		background-image: url(images/home_x320.jpg);
		min-height: 550px;
	}

	.button-box {
		min-height: 150px;
	}
	.photobox-item,
	.column_x3,
	.about_us-content div {
		width: 100%;
	}
	.nav-container.responsive {
		display: table;
		width: 100%;
		opacity: .85;
		background-color: $scroll;
		position: absolute;
		top: 0;
		animation: anim 1s;
		.nav-menu {
			width: 100%;
			background-color: $scroll;
			ul {
				width: 100%;
				padding-bottom: 10px;
				padding: 0;
				li {
					display: block;
					background-color: $scroll;
				}
			}
		}
	}
	.nav-empty-box {
		display: none;
	}
	.nav-container .nav-menu ul li {
		display: none;
	}
	.bar-icon {
	    display: inline-block;
	    cursor: pointer;
	}
	.bar1, .bar2, .bar3 {
	    width: 35px;
	    height: 5px;
	    background-color: #fff;
	    margin: 6px 0;
	    transition: 0.4s;
}
	.change .bar1 {
	    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
	    transform: rotate(-45deg) translate(-9px, 6px);
}
	.change .bar2 {opacity: 0;}

	.change .bar3 {
	    -webkit-transform: rotate(45deg) translate(-8px, -8px);
	    transform: rotate(45deg) translate(-8px, -8px);
	}
	.bar {
		display: block;
	}
	.column_x3 {
		min-height: 100px;
	}
	h1 {
		font-size: 24px;
	}
	h2 {
		font-size: 20px;
	}
	.about_us-title h1 {
		margin: 40px;
	}
}
@media screen and (max-width: 320px) {
	.parallax {
        background-attachment: scroll;
    }
	.main {
		background-image: url(images/home_x320.jpg);
		min-height: 450px;
	}
	.button-box {
		min-height: 150px;
	}
	.photobox-item,
	.column_x3,
	.about_us-content div {
		width: 100%;
	}
	.nav-container.responsive {
		display: table;
		opacity: .85;
		background-color: #000;
		position: absolute;
		top: 0;
		animation: anim 1s;
		ul {
		display: table;
		width: 100%;
		animation: anim 1s;
		}
		a {
		display: table;
		animation: anim 1s;
		}
	}
	nav-menu ul li {
		display: table;
	}
	.nav-empty-box {
		display: none;
	}
	.nav-container .nav-menu ul li{
		display: none;
	}
	.column_x3 {
		min-height: 100px;
	}
	h1 {
		font-size: 20px;
	}
	h2 {
		font-size: 18px;
	}
	.infostring {
		font-size: 14px;
	}	
	.about_us-title h1 {
		margin: 30px;
	}
}
