@keyframes anim
{
	0%
	{
		height: 0;
		opacity: 0;
	}
	100%
	{
		height: auto;
		opacity: .85;
	}
}
body
{
	background-color: #000;
	box-sizing: border-box;
	color: #fff;
	font-family: 'PT Sans Caption',sans-serif;
	font-size: 14px;
	font-weight: 400;
	margin: 0;
	padding: 0;
	overflow: auto;
	overflow-x: hidden;
	text-transform: uppercase;
}
h1
{
	font-size: 36px;
	font-weight: 400;
}
h2
{
	font-size: 26px;
	font-weight: 400;
}
ul {
  margin: 0;
  padding: 0; }
img
{
	width: 100%;
}
li
{
	list-style-type: none;
}
a
{
	color: #fff;
	text-decoration: none;
}
a:hover
{
	color: #d6d6d6;
}
.parallax
{
	background-attachment: fixed;
}
.main
{
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}
.nav-container
{
	display: inline-flex;
	position: relative;
	width: 100%;
}
.nav-container .nav-menu
{
	display: flex;
	justify-content: space-around;
	margin-top: 1.7rem;
	width: 50%;
}
.nav-container .nav-menu ul li
{
	background-color: #158DE4;
	display: inline-flex;
	flex-direction: row;
	margin-left: 20px;
}
.nav-container .nav-menu ul li a
{
	border-radius: 5px;
	padding: 1px 3px;
}
.nav-container .nav-menu ul li:hover
{
	cursor: pointer;
}
.nav-container.top-scroll
{
	background-color: #1A92F7;
	position: fixed;
	top: 0;
	z-index: 9999;
}
.nav-container.top-scroll .nav-menu
{
	margin: 20px;
}
.nav-container.top-scroll .nav-menu ul li
{
	background-color: #1A92F7;
}
.bar
{
	display: none;
	left: 15px;
	position: absolute;
	top: 10px;
}
.nav-empty-box
{
	width: 50%;
}
.subtitle
{
	padding-top: 150px;
	text-align: center;
	width: 100%;
}
.button-box
{
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: 300px;
	width: 100%;
}
.book-button
{
	align-items: center;
	background-color: #fbca02;
	border-radius: 4px;
	box-shadow: 0 0 15px #000;
	display: flex;
	font-size: 20px;
	height: 50px;
	justify-content: center;
	opacity: .85;
	width: 200px;
}
.book-button:hover
{
	background-color: #F01E;
	cursor: pointer;
	font-size: 22px;
	height: 55px;
	width: 210px;
}
.calendar
{
	background-color: #fff798;
	border-radius: 10px;
	color: #000;
	display: none;
	height: 30px;
	line-height: 2rem;
	opacity: .9;
	padding: 0 10px;
	text-align: left;
	width: 250px;
}
.book-button-small
{
	align-items: center;
	background-color: #fbca02;
	border-radius: 4px;
	display: flex;
	display: none;
	height: 30px;
	justify-content: center;
	margin-left: 15px;
	opacity: .85;
	width: 50px;
}
.book-button-small:hover
{
	background-color: #F01E;
	cursor: pointer;
	width: 55px;
}
.info-string
{
	font-size: 20px;
	min-height: 100px;
	overflow: hidden;
	text-align: center;
}
.info-string1
{
	background-color: #9dad64;
}
.info-string2
{
	background-color: #acd3f4;
}
.info-string3
{
	background-color: #bdab8e;
}
.info-string p
{
	padding: 15px 10px;
}
.photobox
{
	display: flex;
	flex-flow: row wrap;
}
.photobox-item
{
	display: flex;
	flex-flow: row wrap;
	max-height: 300px;
	overflow: hidden;
	width: 33%;
}
.photobox img
{
	display: block;
	moz-transition-delay: .5s;
	ms-transition-delay: .5s;
	o-transition-delay: .5s;
	transition: 1.7s ease;
	transition-delay: .5s;
	webkit-transition-delay: .5s;
}
.photobox img:hover
{
	transform: scale(1.4);
}
.about_us-container
{
	background-image: url(images/bg2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	display: table;
	height: auto;
	text-align: center;
	width: 100%;
}
.about_us-title
{
	width: 100%;
}
.about_us-title h2
{
	margin: 5rem;
}
.about_us-title h1
{
	margin: 100px;
}
.about_us-content
{
	display: flex;
	flex-flow: row wrap;
	width: 100%;
}
.about_us-content div
{
	align-items: baseline;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	width: 50%;
}
.image-host img
{
	display: flex;
	justify-content: center;
	width: 90%;
}
.service-content
{
	background-color: #5483ac;
	border-radius: 25px;
	font-size: 16px;
	line-height: 2rem;
	margin: 0;
	opacity: .8;
	text-align: center;
	width: 50%;
}
.service-content p
{
	width: 100%;
}
#map
{
	height: 500px;
	width: 100%;
}
#footer
{
	background-color: #3d6ca8;
	width: 100%;
}
.footer-part1
{
	border-bottom: 1px solid #32529d;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100%;
}
.column_x3
{
	align-items: flex-start;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	line-height: 1.6rem;
	margin-top: 20px;
	min-height: 160px;
	text-align: center;
	width: 33%;
}
.footer-column1
{
	display: table;
}
.phonenumber
{
	font-size: 16px;
}
.email
{
	text-transform: lowercase;
}
.footer-column2 i
{
	margin-left: 15px;
}
.footer-part2
{
	align-items: center;
	display: flex;
	font-family: sans-serif;
	font-size: 14px;
	justify-content: flex-end;
	margin-right: 10px;
	min-height: 40px;
	text-transform: none;
}
/* Price style */
.price-header, .price-info {
  background-color: #1A92F7; }

.price-title {
  width: 100%;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  background-color: #1A92F7;
  border: 1px solid #1A92F7; }

.price-container, .price-cell, .add_nights, .price-string, .price-table, .table-head, .table-head-cell, .price-info, .table-first-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden; }

.price-container {
  margin: 0;
  padding: 0;
  background-color: #fff;
  width: 100%;
  overflow: hidden; }

.price-table {
  width: 70%;
  border: 1px solid #158DE4; }

.table-head {
  background-color: #158DE4;
  width: 100%; }

.table-head-cell {
  width: 25%;
  min-height: 50px;
  color: #fff;
  text-align: center; }

.price-string {
  width: 100%; }
  .price-string :first-child {
    justify-content: left; }
  .price-string :last-child {
    border-right: none; }

.table-first-row {
  width: 25%;
  text-align: left;
  color: grey; }
  .table-first-row h4 {
    color: #000; }

.price-cell, .add_nights, .table-first-row {
  width: 24%;
  border-bottom: 1px solid #ACD9EB;
  border-right: 1px solid #ACD9EB;
  align-items: center;
  line-height: 1.5rem;
  padding-bottom: 15px; }
  .price-cell li, .add_nights li, .table-first-row li {
    list-style-type: none; }

.price-cell, .add_nights {
  text-align: center;
  color: #000; }
  .price-cell li:last-child, .add_nights li:last-child {
    color: grey; }

.add_nights li:first-child {
  color: grey; }
.add_nights li:last-child {
  color: #000; }

.price-info {
  display: table;
  font-size: 1.2rem;
  padding: 0 30% 0 30%; }
/* Finish price style */

@media only screen and (max-device-width: 1024px)
{
	.parallax
	{
		background-attachment: scroll;
	}
	.main
	{
		max-height: 780px;
	}
	.nav-menu
	{
		width: 100%;
	}
	.subtitle h1
	{
		margin: 0 20%;
	}
}
@media screen and (max-width: 922px)
{
	.nav-empty-box
	{
		display: none;
	}
	.nav-container .nav-menu
	{
		justify-content: flex-start;
		width: 100%;
	}
	 .price-table {
    width: 100%;
    border: none; } 
}
@media screen and (max-width: 768px)
{
	.parallax
	{
		background-attachment: scroll;
	}
	.main
	{
		background-image: url(images/home_x320.jpg);
		min-height: 550px;
	}
	.button-box
	{
		min-height: 150px;
	}
	.photobox-item,.column_x3,.about_us-content div
	{
		width: 100%;
	}
	.nav-container.responsive
	{
		animation: anim 1s;
		background-color: #1A92F7;
		display: table;
		opacity: .95;
		position: absolute;
		top: 0;
		width: 100%;
	}
	.nav-container.responsive .nav-menu
	{
		background-color: #1A92F7;
		width: 100%;
	}
	.nav-container.responsive .nav-menu ul
	{
		margin-top: 25px;
		padding: 0;
		width: 100%;
	}
	.nav-container.responsive .nav-menu ul li
	{
		background-color: #1A92F7;
		display: block;
	}
	.top-scroll
	{
		display: none;
	}
	.nav-empty-box
	{
		display: none;
	}
	.nav-container .nav-menu ul li
	{
		display: none;
	}
	.bar-icon
	{
		cursor: pointer;
		display: inline-block;
	}
	.bar1,.bar2,.bar3
	{
		background-color: #fff;
		height: 5px;
		margin: 6px 0;
		transition: .4s;
		width: 35px;
	}
	.change .bar1
	{
		transform: rotate(-45deg) translate(-9px,6px);
		webkit-transform: rotate(-45deg) translate(-9px,6px);
	}
	.change .bar2
	{
		opacity: 0;
	}
	.change .bar3
	{
		transform: rotate(45deg) translate(-8px,-8px);
		webkit-transform: rotate(45deg) translate(-8px,-8px);
	}
	.bar
	{
		display: block;
	}
	.column_x3
	{
		min-height: 100px;
	}
	h1
	{
		font-size: 24px;
	}
	h2
	{
		font-size: 20px;
	}
	.about_us-title h1
	{
		margin: 40px;
	}
}
@media screen and (max-width: 320px)
{
	.parallax
	{
		background-attachment: scroll;
	}
	.main
	{
		background-image: url(images/home_x320.jpg);
		min-height: 450px;
	}
	.button-box
	{
		min-height: 150px;
	}
	.photobox-item,.column_x3,.about_us-content div
	{
		width: 100%;
	}
	.nav-container.responsive
	{
		animation: anim 1s;
		background-color: #000;
		display: table;
		opacity: .85;
		position: absolute;
		top: 0;
	}
	.nav-container.responsive ul
	{
		animation: anim 1s;
		display: table;
		width: 100%;
	}
	.nav-container.responsive a
	{
		animation: anim 1s;
		display: table;
	}
	nav-menu ul li
	{
		display: table;
	}
	.nav-empty-box
	{
		display: none;
	}
	.nav-container .nav-menu ul li
	{
		display: none;
	}
	.column_x3
	{
		min-height: 100px;
	}
	h1
	{
		font-size: 20px;
	}
	h2
	{
		font-size: 18px;
	}
	.infostring
	{
		font-size: 14px;
	}
	.about_us-title h1
	{
		margin: 30px;
	}
}